<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/holonsoft/CmdLineParser/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="holonsoft" />
            <add key="ClearTextPassword" value="164f135066e621b488526372bd1a0d06ba099c2c" />
        </github>
    </packageSourceCredentials>
</configuration>